# 환경 변수 파일 — 절대 커밋 금지
.env
.env.dev
.env.prod
.env.local

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart

# Android
android/.gradle/
android/local.properties
android/key.properties

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
